<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godout - O seu Parceiro em Gerenciamento de Projetos</title>
    
    <link rel="stylesheet" href="style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="container">
        <div class="form-card form-group">
            <form action="router.php?action=login" method="post">
                    <h2>Login</h2>
                    <hr>
                    <br>
                    <label for="txtEmail">Email</label>
                    <input type="text" name="txtEmail" id="txtEmail" placeholder="Usuario@gmail.com" class="btn">
                    <br><br>
                    <label for="txtPsw">Senha</label>
                    <input type="password" name="txtEmail" id="txtPsw" placeholder="Digite sua senha" class="input">
                    <br><br>
                    <button type="submit">Login</button>
            </form>
            <br>
            <button class="btn btn-primary" style="min-width: 45%; background-color: white; color: black; border: 0.5px solid black; margin-right: 4%;">Google</button>
            <button class="btn btn-primary" style="min-width: 45%; background-color: white; color: black; border: 0.5px solid black;">Microsoft</button>
            <a href="home.html"><button class="btn btn-primary"> Voltar</button></a>
        </div>
    </div>
</body>
</html>