<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Godout - O seu Parceiro em Gerenciamento de Projetos</title>
    
    <link rel="stylesheet" href="style/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">    
</head>
<body>

    <header>
        <div class="container nav-bar">
            <a href="home.html" class="logo">Godout</a>
            <nav class="nav-links">
                <!-- <a href="index.php?action=home">Home</a>
                <a href="index.php?action=serv">Funcionalidades</a>
                <a href="index.php?action=prec">Preços</a>
                <a href="index.php?action=Tlog">Login</a> -->
                <a href="home.html">Home</a>
                <a href="serviços.html">Funcionalidades</a>
                <a href="precos.html">Preços</a>
                <a href="login.html">Login</a>
            </nav>
        </div>
    </header>

    <section class="hero" style="margin-top: -100px;">
        <div class="container hero-img">
            <a href="https://br.freepik.com/autor/vectorjuice" target="_blank" class="img-freepik">
                <img src="assets/19197195.jpg" id="img" alt="imagem ou vetor representativo sobre gestão de conteúdo"width="90%" > 
                <br>Designed by <stroke>vectorjuice</stroke> / Freepik
            </a>
            <div class="secao">
                <h2>Gerenciar seu projeto pode ser muito mais fácil do que você imagina</h2>
                <p>Aqui na Godout oferecemos suporte a gestão de projeto, utilizando de metodos ágeis e diagramação por encomenda em minutos</p>
            </div>
        </div>
        <p>new tela</p>
    </section>

    <section id="planos" class="secao" style="background-color: var(--cor-fundo);">
        <div class="container">
            <h2>Planos Flexíveis para Todos os Tamanhos de Equipe</h2>
            <p>Encontre o plano perfeito para suas necessidades, seja você um freelancer ou uma grande empresa.</p>
            <div class="grid-cards">
                
                <div class="card">
                    <h3>Plano Grátis</h3>
                    <p>Ideal para freelancers e projetos pessoais.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$0<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>

                    <ul>
                        <li><p>3 projetos ativos</p></li>
                        <li><p>Cronogramas</p></li>
                        <li><p>Até 4 membros da equipe</p></li>
                        <li><p>Suporte Básico</p></li>
                    </ul>
                    <br><br><br><br>
                    <a href="#" class="btn btn-primary">Comece Grátis</a>
                </div>

                <div class="card">
                    <h3>Plano Profissional</h3>
                    <p>Para equipes que buscam mais controle e poder.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$27,99<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>
                    <h5 style="font-size: 1.0rem; color: var(--cor-principal); margin: 0.1rem 0;"><span style="font-size: 1rem; color: var(--cor-texto);"> 6 mêses por apenas </span>R$160,99</h5>

                    <ul>
                        <li><p>Projetos ilimitados</p></li>
                        <li><p>Quadros Kanban e Gráficos de Gantt</p></li>
                        <li><p>Até 10 membros da equipe</p></li>
                        <li><p>Relatórios e mais 5 funções</p></li>
                    </ul>
                    <br><br>
                    <a href="#" class="btn btn-primary">Assinar Agora</a>
                </div>

                <div class="card">
                    <h3>Plano Empresarial</h3>
                    <p>Para empresas que buscam agilidade e performance em larga escala.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$50<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>
                    <h5 style="font-size: 1.0rem; color: var(--cor-principal); margin: 0rem 0;"><span style="font-size: 1rem; color: var(--cor-texto);"> 6 mêses por apenas </span>R$295,99</h5>
                    <ul>
                        <li><p>Tudo do Plano Profissional</p></li>
                        <li><p>Membros ilimitados</p></li>
                        <li><p>Diagramas e Fluxogramas</p></li>
                        <li><p>Suporte prioritário e customizado</p></li>
                        <li><p>Funções ilimitadas</p></li>
                    </ul>
                    <br>
                    <a href="#" class="btn btn-primary">Assinar Agora</a>
                </div>
                
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Godout. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="scriptTema.js"></script>
</body>
</html>