    <section class="hero">
        <div class="container">
            <h1>Gerencie seus Projetos.  Alcance seus Objetivos.</h1>
            <p>A ferramenta completa para organizar, colaborar e entregar projetos de forma eficiente, do início ao fim.</p>
            <a href="cadastro.html"> <button class="btn btn-primary">Comece Agora, É Grátis!</button></a>
        </div>
    </section>



    <section id="funcionalidades" class="secao">
        <div class="container">
            <h2>Transforme Suas Ideias em Realidade</h2>
            <p>Descubra as ferramentas que o ajudarão a gerenciar cada passo do seu projeto com clareza e controle.</p>
            <div class="grid-cards">
                
                <div class="card">
                    <h3>Quadros Kanban</h3>
                    <p>Visualize o fluxo de trabalho e acompanhe o progresso de suas tarefas de forma simples e intuitiva.</p>
                </div>

                <div class="card">
                    <h3>Gráficos de Gantt</h3>
                    <p>Planeje cronogramas, defina dependências e monitore os prazos do projeto com representações visuais detalhadas.</p>
                </div>

                <div class="card">
                    <h3>Colaboração em Tempo Real</h3>
                    <p>Comunique-se com sua equipe, compartilhe arquivos e receba notificações instantâneas sobre o projeto.</p>
                </div>
                
            </div>
        </div>
    </section>

    <section id="planos" class="secao" style="background-color: var(--cor-clara);">
        <div class="container">
            <h2>Planos Flexíveis para Todos os Tamanhos de Equipe</h2>
            <p>Encontre o plano perfeito para suas necessidades, seja você um freelancer ou uma grande empresa.</p>
            <div class="grid-cards">
                
                <div class="card">
                    <h3>Plano Grátis</h3>
                    <p>Ideal para freelancers e projetos pessoais.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$0<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>
                    <ul>
                        <li><p>5 projetos ativos</p></li>
                        <li><p>Quadros Kanban</p></li>
                        <li><p>Até 3 membros da equipe</p></li>
                        <li><p>Suporte Básico</p></li>
                    </ul>
                    <br>
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary">Comece Grátis</a>
                </div>

                <div class="card">
                    <h3>Plano Profissional</h3>
                    <p>Para equipes que buscam mais controle e poder.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$27,99<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>
                    <h5 style="font-size: 1.0rem; color: var(--cor-principal); margin: 0.1rem 0;"><span style="font-size: 1rem; color: var(--cor-texto);"> 6 mêses por apenas </span>R$160,99</h5>

                    <ul>
                        <li><p>Projetos ilimitados</p></li>
                        <li><p>Quadros Kanban e Gráficos de Gantt</p></li>
                        <li><p>Até 10 membros da equipe</p></li>
                        <li><p>Relatórios e mais 5 funções</p></li>
                    </ul>
                    <br>
                    <a href="#" class="btn btn-primary">Assinar Agora</a>
                </div>

                <div class="card">
                    <h3>Plano Empresarial</h3>
                    <p>Para equipes que buscam mais controle e poder.</p>
                    <h4 style="font-size: 2.5rem; color: var(--cor-principal); margin: 1rem 0;">R$50<span style="font-size: 1rem; color: var(--cor-texto);">/mês</span></h4>
                    <h5 style="font-size: 1.0rem; color: var(--cor-principal); margin: 0.1rem 0;"><span style="font-size: 1rem; color: var(--cor-texto);"> 6 mêses por apenas </span>R$295,99</h5>
                    <ul>
                        <li><p>Projetos ilimitados</p></li>
                        <li><p>Gráficos de Gantt</p></li>
                        <li><p>Membros ilimitados</p></li>
                        <li><p>Relatórios avançados</p></li>
                    </ul>
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary">Assinar Agora</a>
                </div>
                
            </div>
        </div>
    </section>
    
    <script src="layout.js"></script>
    <script src="scriptTema.js"></script>