
<div class="container nav-bar">
    <a href="index.php?route=init" class="logo">Godout</a>
    <nav class="nav-links">
        <a href="#" hx-get="index.php?route=home" hx-target="#pageAt">Home</a>
        <a href="#" hx-get="index.php?route=servicos" hx-target="#pageAt">Funcionalidades</a>
        <a href="#" hx-get="index.php?route=precos" hx-target="#pageAt">Preços</a>
        <a href="index.php?route=Auth">Login</a>
        <!-- <a id="logout">Logout</a> -->
        <!-- <a id="user" href="areaUsuario.html"> Usuario</a> -->
    </nav>
</div>  